.load__icon {
  animation: linear load 2s infinite;
  width: 32px;
  height: 32px;
}

.load__icon-wrap {
  margin: auto;
}

.load {
  height: calc(100vh - 16px);
  width: 100%;
  display: flex;
  align-items: center;
}
.theme-light .checkbox-btn__checkbox-custom {
    border: 1px solid #dddddd;
    margin: 2px 6px;
}

span.form__form-group-label.custom_class {
    width: 100%!important;
}

@keyframes load {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}